@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: darkcyan; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #1b4d89, #6db784)
}

body {
  color: #ffffff;
  background: transparent;
}

section {
  height: 100vh;
  padding-top: 3rem;
}

#navbar {
  overflow: hidden;
  background-color: #312e81;
  padding: 10px;
  z-index: 1000;
}

#navbar Link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar li {
  display: inline;
  padding-inline: 15px;
}

.content {
  padding-top: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* This shouldn't be needed but tailwind isn't playing nice with svgs */
.smart-hover-svg:hover {
  fill:grey;
}
